<%= form_with(model: fact, local: true) do |form| %>
  <% if fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fact.errors.count, "error") %> prohibited this fact from being saved:</h2>

      <ul>
      <% fact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, id: :fact_title, placeholder:"Título", class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :description, id: :fact_description, class:"form-control", placeholder:"Descripción" %>
  </div>

  <div class="form-group">
    <%= form.text_field :labels, id: :fact_labels, placeholder:"Tags", class:"form-control", value: @fact.labels_format %>
  </div>

  <div class="form-check">
    <%= form.check_box :real, id: :fact_real, class:"form-check-input"%>
    <label class="form-check-label" for="real">Real</label>
  </div>
  
  <div class="form-group">
    <%= form.text_field :resource, id: :fact_resource, placeholder:"Recurso", class:"form-control" %>
  </div>
  
  <div class="actions">
    <button type="submit" class="btn primary-button"> <%= action %></button>
  </div>
<% end %>
