<div class="container">
  
  <p id="notice"><%= notice %></p>

  <h2>Datos</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Decripción</th>
        <th>Real</th>
        <th>Color</th>
        <th>Código</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @facts.each do |fact| %>
        <tr>
          <td><%= fact.title.truncate 20, omission:"..." %></td>
          <td><%= fact.description.truncate 20, omission:"..." %></td>
          <td><%= fact.real %></td>
          <td><%= fact.color %></td>
          <td><%= fact.code %></td>
          <td><%= link_to 'Mostrar', fact %></td>
          <td><%= link_to 'Editar', edit_fact_path(fact) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo dato', new_fact_path, class:"btn btn-sb" %>

</div>