<div class="container">
  <br>
  <div class="card text-center">
    <div class="card-header">
      <%= @fact.code %>
    </div>
    <div class="card-block">
      
      <h4 class="card-title"> <%= @fact.title %></h4>
      <p class="card-text"> <%= @fact.description %> </p>
      
      <%= link_to 'Editar', edit_fact_path(@fact), class:"btn btn-primary"%>
      <%= link_to 'Eliminar', @fact, method: :delete, data: { confirm: '¿Estas seguro de eliminar el dato?' }, class:"btn btn-danger" %>
      
    </div>
    <br>
    <div class="card-footer text-muted">
     Fecha de creación: <%= @fact.created_at_format %>
    </div>
  </div>
</div>
